<form
  [formGroup]="register_a_car_form"
  class="form-container"
  (ngSubmit)="onSaveForm()"
>
  <app-car-maker formControlName="maker" ngDefaultControl></app-car-maker>
  <br />

  <app-car-model formControlName="model" ngDefaultControl></app-car-model>
  <br />

  <input
    id="year"
    placeholder="year"
    type="number"
    formControlName="year"
    ngDefaultControl
  />
  <br />

  <app-car-color formControlName="color" ngDefaultControl></app-car-color>
  <br />

  <input
    id="mileage"
    placeholder="mileage"
    type="number"
    formControlName="mileage"
    ngDefaultControl
  />
  <br />

  <app-dealership
    formControlName="dealership"
    ngDefaultControl
  ></app-dealership>
  <br />

  <div>
    <input
      class="form-control"
      id="vehicle_photo"
      placeholder="Vehicle photo"
      type="file"
      formControlName="photo_image"
      ngDefaultControl
    />
  </div>
  <br />

  <button class="btn btn-warning" type="submit" name="Save">Save</button>
  <button class="btn btn-warning" type="reset" name="reset">Reset</button>
</form>
