<form
  [formGroup]="register_a_car_form"
  class="form-container"
  (ngSubmit)="onSaveForm()"
>
  <app-car-maker formControlName="maker" ngDefaultControl></app-car-maker>
  <br />

  <app-car-model formControlName="model" ngDefaultControl></app-car-model>
  <br />

  <input
    id="year"
    placeholder="year"
    type="number"
    formControlName="year"
    ngDefaultControl
  />
  <br />

  <app-car-color formControlName="color" ngDefaultControl></app-car-color>
  <br />

  <input
    id="mileage"
    placeholder="mileage"
    type="number"
    formControlName="mileage"
    ngDefaultControl
  />
  <br />

  <input
    id="serial_number"
    placeholder="serial number"
    type="number"
    formControlName="serial_number"
    ngDefaultControl
  />
  <br />

  <fieldset>
    <legend>Select transmission type:</legend>
    <div>
      <input
        id="automatic_transmision"
        value="automatic"
        type="radio"
        name="transmission"
        formControlName="transmission"
        ngDefaultControl
      />
      <label for="automatic_transmision">Automatic</label>
    </div>
    <div>
      <input
        id="manual_transmision"
        value="manual"
        type="radio"
        name="transmission"
        formControlName="transmission"
        ngDefaultControl
      />
      <label for="manual_transmision">Manual</label>
    </div>
  </fieldset>
  <br />

  <textarea
    id="description"
    name="description"
    placeholder="car description..."
    rows="4"
    cols="50"
    formControlName="description"
    ngDefaultControl
  >
  </textarea>
  <br />

  <app-car-category
    formControlName="category"
    ngDefaultControl
  ></app-car-category>
  <br />

  <app-car-dealership
    formControlName="dealership"
    ngDefaultControl
  ></app-car-dealership>
  <br />

  <input
    class="form-control"
    id="vehicle_photo"
    placeholder="Vehicle photo"
    type="file"
    formControlName="photo_image"
    accept=".png, .jpg, .jpeg, .webp, .avif"
    ngDefaultControl
  />
  <br />

  <input
    id="price"
    placeholder="price"
    type="number"
    formControlName="price"
    ngDefaultControl
  />
  <br />

  <button class="btn btn-warning" type="submit" name="Save">Save</button>
  <button class="btn btn-warning" type="reset" name="reset">Reset</button>
</form>
