<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">DataBase</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-sm btn-outline-secondary">Add data</button>
            <button id="deleteButton" type="button" class="btn btn-sm btn-outline-secondary">Remove selected data</button>
        </div>
    </div>
</div>

<h2>State</h2>
<div class="table-responsive">
    <table id="databaseTable" class="table table-striped table-sm" style="width:95%">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">deleted</th>
            <th scope="col">deletedAt</th>
            <th scope="col">createdAt</th>
            <th scope="col">updatedAt</th>
            <th scope="col">update</th>
            <th scope="col">remove</th>
        </tr>
        </thead>
    </table>
</div>


<app-register-a-state></app-register-a-state>
<div class="modal fade" id="ModifyModal" tabindex="-1" aria-labelledby="ModifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5">Update data: State</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
                <form class="form-container p-md-5">
                    <div class="align-items-center p-2">
                        <h6 class="mb-0">Update state</h6>
                    </div>
                    <div class="form-floating mb-3">
                        <input
                        id="stateUpdate"
                        placeholder="state"
                        class="form-control"
                        type="text"
                        />
                        <label for="stateUpdate">State</label>
                    </div>
                    
                    <div class="flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                        <button id="updateButton" type="submit" class="w-100 btn btn-lg btn-warning btn-send btn-font mb-2" data-bs-dismiss="modal">Save changes</button>
                        <button type="button" class="w-100 btn btn-lg btn-secondary btn-font mb-2" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
