<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-body rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center d-flex justify-content-center mb-5">
                <div class="align-items-center p-4 my-4 col-4 text-white bg-black title-shadow">
                    <h1 class="fw-bolder mb-0 text-center">Get in touch</h1>
                </div>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 mb-5">
                    <form id="contactForm">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name...">
                            <label for="name">Full name</label>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com">
                            <label for="email">Email address</label>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890">
                            <label for="phone">Phone number</label>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
                            <label for="message">Message</label>
                        </div>
                        <div class="d-grid"><button class="btn btn-warning btn-font btn-lg" id="submitButton" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
