.masthead {
    position: relative;
    background: url("/assets/img/about/bg-masthead.webp") no-repeat center center;
    background-size: cover;
}

.title-shadow{
    box-shadow: 10px 10px #FFC000;
}