<header class="py-5 bg-dark masthead">
    <div class="container px-5">
        <div class="row justify-content-md-start">
            <div class="col-lg-8 col-xxl-6">
                <div class="justify-content-md-start text-white my-5">
                    <h1 class="fw-bolder mb-3">At Donut Motors, we care about you.</h1>
                    <p class="lead fw-normal mb-4">Our company offers high-quality used cars at affordable prices and strives to provide all the information needed for an informed purchase. Our experienced team is ready to help find the perfect car that meets customers' needs and budget, with excellent customer service before and after the sale.</p>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="container">
    <div class="align-items-center p-4 my-4 col-4 text-white bg-black title-shadow">
        <h5 class="mb-0 text-center">Visit our dealership and get to know us!</h5>
    </div>
</section>
<!-- About section one-->
<section class="py-5 bg-warning">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6 text-black">
                <h2 class="fw-bolder">Dealership name</h2>
                <p class="lead fw-normal mb-0">Description of the dealership along with its address.</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Dealership name</h2>
                <p class="lead fw-normal text-muted mb-0">Description of the dealership along with its address.</p>
            </div>
        </div>
    </div>
</section>
<!-- About section one-->
<section class="py-5 bg-warning">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6 text-black">
                <h2 class="fw-bolder">Dealership name</h2>
                <p class="lead fw-normal mb-0">Description of the dealership along with its address.</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Dealership name</h2>
                <p class="lead fw-normal text-muted mb-0">Description of the dealership along with its address.</p>
            </div>
        </div>
    </div>
</section>
<!-- About section one-->
<section class="py-5 bg-warning">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6 text-black">
                <h2 class="fw-bolder">Dealership name</h2>
                <p class="lead fw-normal mb-0">Description of the dealership along with its address.</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Dealership name</h2>
                <p class="lead fw-normal text-muted mb-0">Description of the dealership along with its address.</p>
            </div>
        </div>
    </div>
</section>