<div class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 footer-font">
    <p class="col-md-4 mb-0 text-black">&copy; 2023 Donut Motors</p>

    <a routerLink="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">
        <img src="/assets/img/shared/Donut_Motors.svg" width="200" alt="Logo">
    </a>

    <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-black">FAQs</a></li>
    <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-black">About</a></li>
    <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-black">Contact Us</a></li>
    </ul>
</div>