
        <div class="card form-signin w-100 m-auto border-0">
          <form
            [formGroup]="sign_up_form"
            class="form-container p-md-5"
            (ngSubmit)="onSaveForm()"
          >
            <div class="form-floating">
              <input
                id="first_name"
                placeholder="First Name"
                class="form-control"
                type="text"
                formControlName="first_name"
                ngDefaultControl
              />
              <label for="first_name">First Name</label>
            </div>
            <div class="form-floating">
              <input
                id="last_name"
                placeholder="Last Name"
                class="form-control"
                type="text"
                formControlName="last_name"
                ngDefaultControl
              />
              <label for="last_name">Last Name</label>
            </div>
            
            <div class="form-floating">
              <input id="email" placeholder="Email" class="form-control" type="email" formControlName="email" ngDefaultControl />
              <label for="email">Email</label>
            </div>
            <div
              class="alert alert-danger"
              *ngIf="sign_up_form.get('email')?.hasError('email')"
            >
              Invalid email!
            </div>
            
            <div class="form-floating">
              <input
                id="phone"
                placeholder="Phone"
                class="form-control"
                type="tel"
                formControlName="phone_number"
                ngDefaultControl
              />
              <label for="phone">Phone</label>
            </div>
            <div class="form-floating">
              <input
                id="postal_code"
                placeholder="Postal Code"
                class="form-control"
                type="text"
                formControlName="postal_code"
                ngDefaultControl
              />
              <label for="postal_code">Postal Code</label>
            </div>
            
            <div class="form-floating">
              <input
                id="password"
                placeholder="Password"
                class="form-control"
                type="password"
                formControlName="password"
                ngDefaultControl
              />
              <label for="password">Password</label>
            </div>

            <div
              class="alert alert-danger"
              *ngIf="sign_up_form.get('password')?.hasError('symbolRequired')"
            >
              The password must contain at least one symbol
            </div>
            <div
              class="alert alert-danger"
              *ngIf="sign_up_form.get('password')?.hasError('numberRequired')"
            >
              The password must contain at least one number
            </div>
            <div
              class="alert alert-danger"
              *ngIf="sign_up_form.get('password')?.hasError('uppercaseRequired')"
            >
              The password must contain at least one uppercase letter
            </div>
            <div
              class="alert alert-danger"
              *ngIf="
                sign_up_form.get('password')?.value !== null &&
                sign_up_form.get('password')?.value !== undefined &&
                sign_up_form.get('password')?.value !== '' &&
                sign_up_form.get('password')?.hasError('minLength')
              "
            >
              The password must be at least 8 characters long
            </div>
            
            <div class="form-floating">
              <input
                id="confirm_password"
                placeholder="Confirm password"
                type="password"
                class="form-control"
                formControlName="confirm_password"
                ngDefaultControl
              />
              <label for="confirm_password">Confirm password</label>
            </div>
            <div
              class="alert alert-danger"
              *ngIf="sign_up_form.get('confirm_password')?.hasError('symbolRequired')"
            >
              The password must contain at least one symbol
            </div>
            <div
              class="alert alert-danger"
              *ngIf="sign_up_form.get('confirm_password')?.hasError('numberRequired')"
            >
              The password must contain at least one number
            </div>
            <div
              class="alert alert-danger"
              *ngIf="sign_up_form.get('confirm_password')?.hasError('uppercaseRequired')"
            >
              The password must contain at least one uppercase letter
            </div>
            <div
              class="alert alert-danger"
              *ngIf="
                sign_up_form.get('confirm_password')?.value !== null &&
                sign_up_form.get('confirm_password')?.value !== undefined &&
                sign_up_form.get('confirm_password')?.value !== '' &&
                sign_up_form.get('confirm_password')?.hasError('minLength')
              "
            >
              The password must be at least 8 characters long
            </div>
            <div class="alert alert-danger" *ngIf="sign_up_form.errors?.['notMatched']">
              Passwords don't match!
            </div>

            <button type="submit" class="w-100 btn btn-warning btn-send btn-font">Send</button>
          </form>          
        </div>
