<form
  [formGroup]="sign_up_form"
  class="form-container"
  (ngSubmit)="onSaveForm()"
>
  <label for="first_name">First Name: </label>
  <input id="first_name" type="text" formControlName="first_name" />
  <br />
  <label for="last_name">Last Name: </label>
  <input id="last_name" type="text" formControlName="last_name" />
  <br />
  <label for="email">Email: </label>
  <input id="email" type="email" formControlName="email" minlength="10" />
  <div
    class="alert alert-danger"
    *ngIf="sign_up_form.get('email')?.hasError('email')"
  >
    Invalid email!
  </div>
  <br />
  <label for="phone">Phone: </label>
  <input id="phone" type="tel" formControlName="phone_number" minlength="10" />
  <br />
  <label for="postal_code">Postal Code: </label>
  <input id="postal_code" type="text" formControlName="postal_code" />
  <br />
  <label for="password">Password: </label>
  <input id="password" type="password" formControlName="password" />
  <div
    class="alert alert-danger"
    *ngIf="sign_up_form.get('password')?.hasError('symbolRequired')"
  >
    The password must contain at least one symbol
  </div>
  <div
    class="alert alert-danger"
    *ngIf="sign_up_form.get('password')?.hasError('numberRequired')"
  >
    The password must contain at least one number
  </div>
  <div
    class="alert alert-danger"
    *ngIf="sign_up_form.get('password')?.hasError('uppercaseRequired')"
  >
    The password must contain at least one uppercase letter
  </div>
  <div
    class="alert alert-danger"
    *ngIf="
      sign_up_form.get('password')?.value !== null &&
      sign_up_form.get('password')?.value !== undefined &&
      sign_up_form.get('password')?.value !== '' &&
      sign_up_form.get('password')?.hasError('minLength')
    "
  >
    The password must be at least 8 characters long
  </div>
  <br />
  <label for="confirm_password">Confirm password: </label>
  <input
    id="confirm_password"
    type="password"
    formControlName="confirm_password"
  />
  <div
    class="alert alert-danger"
    *ngIf="sign_up_form.get('confirm_password')?.hasError('symbolRequired')"
  >
    The password must contain at least one symbol
  </div>
  <div
    class="alert alert-danger"
    *ngIf="sign_up_form.get('confirm_password')?.hasError('numberRequired')"
  >
    The password must contain at least one number
  </div>
  <div
    class="alert alert-danger"
    *ngIf="sign_up_form.get('confirm_password')?.hasError('uppercaseRequired')"
  >
    The password must contain at least one uppercase letter
  </div>
  <div
    class="alert alert-danger"
    *ngIf="
      sign_up_form.get('confirm_password')?.value !== null &&
      sign_up_form.get('confirm_password')?.value !== undefined &&
      sign_up_form.get('confirm_password')?.value !== '' &&
      sign_up_form.get('confirm_password')?.hasError('minLength')
    "
  >
    The password must be at least 8 characters long
  </div>
  <div class="alert alert-danger" *ngIf="sign_up_form.errors?.['notMatched']">
    Passwords don't match!
  </div>
  <br />

  <button type="submit" class="btn-send">Send</button>
</form>
<a routerLink="/home" routerLinkActive="active"> Go to home </a>
