<header class="masthead bg-dark py-5">
  <div class="container px-5">
    <div class="justify-content-md-start my-5">
      <h1 class="display-4 fw-bold lh-1 text-white">Donut Motors</h1>
      <p class="lead text-white">Find the car of your dreams and make it yours</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button type="button" class="btn btn-warning btn-lg btn-font px-5 me-md-2" routerLink="/cars-for-sale">Buy a car</button>
      </div>
    </div>
  </div>
</header>

<section class="container py-5">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row gx-5">
          <div class="col-lg-4 mb-3">
            <div class="card h-100 bg-warning shadow border-0">
              <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
              <div class="card-body p-4">
                <h5 class="card-title mb-3 text-black">Car name</h5>
                <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="card h-100 bg-warning shadow border-0">
              <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
              <div class="card-body p-4">
                <h5 class="card-title mb-3 text-black">Car name</h5>
                <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="card h-100 bg-warning shadow border-0">
              <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
              <div class="card-body p-4">
                <h5 class="card-title mb-3 text-black">Car name</h5>
                <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row gx-5">
          <div class="col-lg-4 mb-3">
            <div class="card h-100 bg-warning shadow border-0">
              <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
              <div class="card-body p-4">
                <h5 class="card-title mb-3 text-black">Car name</h5>
                <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="card h-100 bg-warning shadow border-0">
              <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
              <div class="card-body p-4">
                <h5 class="card-title mb-3 text-black">Car name</h5>
                <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="card h-100 bg-warning shadow border-0">
              <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
              <div class="card-body p-4">
                <h5 class="card-title mb-3 text-black">Car name</h5>
                <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row gx-5">
          <div class="col-lg-4 mb-3">
            <div class="card h-100 bg-warning shadow border-0">
              <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
              <div class="card-body p-4">
                <h5 class="card-title mb-3 text-black">Car name</h5>
                <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="card h-100 bg-warning shadow border-0">
              <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
              <div class="card-body p-4">
                <h5 class="card-title mb-3 text-black">Car name</h5>
                <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="card h-100 bg-warning shadow border-0">
              <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
              <div class="card-body p-4">
                <h5 class="card-title mb-3 text-black">Car name</h5>
                <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
</section>
    <section class="container py-5">
        <div class="align-items-center p-4 my-4 col-4 text-white bg-black title-shadow">
            <h5 class="mb-0 text-center">Explore popular categories</h5>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="align-items-center col p-4 d-flex">
                <a routerLink="/cars-for-sale" class="h4 mb-0 stretched-link text-decoration-none">Categories</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="align-items-center col p-4 d-flex">
                <a routerLink="/cars-for-sale" class="h4 mb-0 stretched-link text-decoration-none">Categories</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="align-items-center col p-4 d-flex">
                <a routerLink="/cars-for-sale" class="h4 mb-0 stretched-link text-decoration-none">Categories</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="align-items-center col p-4 d-flex">
                <a routerLink="/cars-for-sale" class="h4 mb-0 stretched-link text-decoration-none">Categories</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="bg-dark py-5 bn-img bn-shadow">
        <div class="container px-5">
          <div class="row gx-0">
            <div class="col-lg-6 col-xl-5 py-lg-5">
                <div class="p-4 p-md-5">
                    <h1 class="display-5 text-center text-white">Sell your car at the best market price</h1>
                    <div class="d-grid gap-2 d-md-flex justify-content-center mb-4 mb-lg-3">
                        <button type="button" class="btn btn-warning btn-lg btn-font px-5 me-md-2" routerLink="/sell-a-car">Sell your car</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="container py-5">
        <div class="align-items-center p-4 my-4 col-4 text-white bg-black title-shadow">
            <h5 class="mb-0 text-center">Visit our dealership and get to know us!</h5>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                    <div class="card-body p-4">
                        <h5 class="card-title mb-3">Dealership name</h5>
                        <p class="card-text mb-0">Description of the dealership along with its address</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                    <div class="card-body p-4">
                        <h5 class="card-title mb-3">Dealership name</h5>
                        <p class="card-text mb-0">Description of the dealership along with its address</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                    <div class="card-body p-4">
                        <h5 class="card-title mb-3">Dealership name</h5>
                        <p class="card-text mb-0">Description of the dealership along with its address</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-end justify-content-center">
            <div class="d-flex align-items-center">
                <div class="d-grid gap-2 d-md-flex mb-4 mb-lg-3">
                    <button type="button" class="btn btn-warning btn-lg btn-font px-5 me-md-2" routerLink="/">See more</button>
                </div>
            </div>
        </div>
    </section>
