<section class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center d-flex justify-content-center mb-5">
        <div class="align-items-center p-4 my-4 col-6 text-white bg-black title-shadow">
            <h1 class="fw-bolder mb-0 text-center">How can we help you?</h1>
        </div>
      </div>
        <div class="row gx-5">
            <div class="col-xl-8">
                <!-- FAQ Accordion 1-->
                <h2 class="fw-bolder mb-3">Frequently asked questions</h2>
                <div class="accordion mb-4" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                          How long does it take to sell my car?
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                          Once the inspection is scheduled, the time it takes to sell your car depends on how quickly you send us the requested documents. Therefore, it is important that you check the list of documents in your email.<br>
                          Remember that the validity of the offer is 7 days, although more than half of the cars we buy on the same day of the inspection.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                          How can I sell my car?
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          Selling your car is very simple. The steps you must follow are:<br>
                          <p class="mx-2">
                            1. Get a quote for your car at Donut Motors.<br>
                            2. Schedule an inspection appointment at one of our locations.<br>
                            3. Send the required documents.<br>
                            4. Receive the validated purchase offer, accept it, and receive payment for your car.
                          </p>
                          Check our website for our locations and business hours.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          Why sell my car to Donut Motors?
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          Donut Motors is your best option to sell your car! Our process is completely transparent and you can start it from the comfort of your home.
                          If your car has the necessary documentation to complete the purchase, we can do it on the same day as the mechanical inspection.
                          Payment is made through a transfer, ensuring your security, and we are careful when reviewing your car.
                          An advisor will accompany you throughout the process until the contract is signed and payment is made.
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- FAQ Accordion 2-->
                <div class="accordion mb-4" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
                          What documents will I receive when I receive the car?
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            During the delivery of your car, Donut Motors provides you with a folder containing all the necessary documents to ensure that you can perform any procedure.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                          Is my section refundable?
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          Yes, if you decide not to take the car, we will release the funds held. But if you choose to buy another car, the amount of the deposit will be deducted from the final value of your car.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          When I buy a car at Donut Motors, do I receive it with all the papers in my name and the paperwork completed?
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          We provide you with all the documents related to the car, but there are some procedures that you must manage personally (for example, the change of ownership).
                          We will give you the file so that you can carry out the necessary procedures with the transit authority.
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-xl-4">
                <div class="card border-0 bg-body mt-xl-5">
                    <div class="card-body p-4 py-lg-5">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <div class="h6 fw-bolder">Have more questions?</div>
                                <div class="d-flex justify-content-end">
                                    <div class="d-grid gap-2 d-md-flex mb-0 mb-lg-0">
                                      <button type="button" class="btn btn-warning btn-lg btn-font px-5 me-md-2" routerLink="/contact">Contact us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>