<header class="masthead bg-dark py-5">
    <div class="container px-5 py-4">
        <div class="col-md-6 my-5 justify-content-md-start">
            <h1 class="display-4 fw-bold lh-1 text-white">Cars for sale</h1>
            <p class="lead text-white">If you're thinking of buying the car of your dreams, Donut Motors has thousands of cars for sale in our inventory...</p>
        </div>
    </div>
</header>

<section class="container py-5">
  <div class="align-items-center p-4 my-3 col-4 text-white bg-black title-shadow">
    <h5 class="mb-0 text-center">Find your ideal vehicle</h5>
  </div>
  <div class="p-5 align-items-center justify-content-center bg-warning rounded-3">
    <app-search-bar></app-search-bar>
  </div>
</section>
<section class="container py-5">
  <div class="row g-3">
    <div class="col-md-8">
      <h3 id="resultsCount" class="pb-1 mb-2 fst-italic border-bottom">
      </h3>
      <div class="d-flex justify-content-end">
        <a href="/cars-for-sale" class="text-dark text-decoration-underline mb-2">Reset search</a>
      </div>
      <nav aria-label="Page navigation">
        <div class="data-container"></div>
        <div id="pagination-list" class="d-flex justify-content-center"></div>
      </nav>
    </div>

    <div class="col-md-4">
      <div class="position-sticky nav-filter">
        <div class="p-4 pt-1 mb-0 pb-0">
          <div class="align-items-center p-2 my-4 text-white bg-black title-shadow">
            <h5 class="mb-0 text-center">Sort</h5>
          </div>
          <div class="mb-0">
            <label for="sortSelect" class="form-label">Sort by:</label>
            <app-sort-filter (change)="onSortChange($event)"></app-sort-filter>
          </div>
        </div>

        <div class="pt-0 p-4" [formGroup]="filter_form">
          <div class="align-items-center p-2 my-4 text-white bg-black title-shadow">
            <h5 class="mb-0 text-center">Filter</h5>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Make and Model
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="align-items-center p-2">
                    <h6 class="mb-0">Make</h6>
                  </div>
                  <div class="d-flex justify-content-center">
                    <app-car-maker
                      class="col-12"
                      formControlName="maker"
                      ngDefaultControl
                      (change)="onFilterChange($event, { maker: true })"
                    ></app-car-maker>
                  </div>
                  <div class="align-items-center p-2">
                    <h6 class="mb-0">Models</h6>
                    <small class="mb-0">Please select vehicle make above to enable model options.</small>
                  </div>
                  <div class="d-flex justify-content-center">
                    <app-car-model
                      class="col-12"
                      formControlName="model"
                      ngDefaultControl
                      (change)="onFilterChange($event, { model: true })"
                    ></app-car-model>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item" style="display:none">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Year
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="row g-3">
                    <div class="col-sm-6">
                      <label for="minYears" class="form-label">Min Years</label>
                      <input
                        type="number"
                        class="form-control"
                        id="minYears"
                        placeholder="19xx"
                        formControlName="minYear"
                        ngDefaultControl
                        (input)="onFilterChange($event, { minYear: true })"
                      />
                    </div>
                    <div class="col-sm-6">
                      <label for="maxYears" class="form-label">Max Years</label>
                      <input
                        type="number"
                        class="form-control"
                        id="maxYears"
                        placeholder="20xx"
                        formControlName="maxYear"
                        ngDefaultControl
                        (input)="onFilterChange($event, { maxYear: true })"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item" style="display:none">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Price
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h6>Price Range:</h6>
                  <div>
                    <input
                      id="rangeOne"
                      value="<5"
                      type="radio"
                      formControlName="priceRange"
                      ngDefaultControl
                      (dblclick)="uncheckRadio({ priceRange: true })"
                      (change)="onFilterChange($event, { priceRange: true })"
                    />
                    <label for="rangeOne">Less than $5k</label>
                  </div>
                  <div>
                    <input
                      id="rangeTwo"
                      value=">=5 && <=10"
                      type="radio"
                      formControlName="priceRange"
                      ngDefaultControl
                      (dblclick)="uncheckRadio({ priceRange: true })"
                      (change)="onFilterChange($event, { priceRange: true })"
                    />
                    <label for="rangeTwo">$5k to $10k</label>
                  </div>
                  <div>
                    <input
                      id="rangeThree"
                      value=">=10 && <=20"
                      type="radio"
                      formControlName="priceRange"
                      ngDefaultControl
                      (dblclick)="uncheckRadio({ priceRange: true })"
                      (change)="onFilterChange($event, { priceRange: true })"
                    />
                    <label for="rangeThree">$10k to $20k</label>
                  </div>
                  <div>
                    <input
                      id="rangeFour"
                      value=">=20 && <=50"
                      type="radio"
                      formControlName="priceRange"
                      ngDefaultControl
                      (dblclick)="uncheckRadio({ priceRange: true })"
                      (change)="onFilterChange($event, { priceRange: true })"
                    />
                    <label for="rangeFour">$20k to $50k</label>
                  </div>
                  <div>
                    <input
                      id="rangeFive"
                      value=">= 50"
                      type="radio"
                      formControlName="priceRange"
                      ngDefaultControl
                      (dblclick)="uncheckRadio({ priceRange: true })"
                      (change)="onFilterChange($event, { priceRange: true })"
                    />
                    <label for="rangeFive">$50k or Greater</label>
                  </div>
                  
                  <div style="display:none">
                    <input
                      id="customRange"
                      value="customRange"
                      type="radio"
                      formControlName="priceRange"
                      ngDefaultControl
                      (dblclick)="uncheckRadio({ priceRange: true })"
                      (change)="onFilterChange($event, { priceRange: true })"
                    />
                    <label class="h6" for="customRange">Custom price range:</label>
                  </div>
                  <div class="row g-3" style="display:none">
                    <div class="col-sm-6">
                      <label for="minPrice" class="form-label">Min Price</label>
                      <input
                        type="number"
                        class="form-control"
                        id="minPrice"
                        placeholder="$"
                        formControlName="minPrice"
                        ngDefaultControl
                        (change)="onFilterChange($event, { minPrice: true })"
                      />
                    </div>
                    <div class="col-sm-6" style="display:none">
                      <label for="maxPrice" class="form-label">Max Price</label>
                      <input
                        type="number"
                        class="form-control"
                        id="maxPrice"
                        placeholder="$"
                        formControlName="maxPrice"
                        ngDefaultControl
                        (change)="onFilterChange($event, { maxPrice: true })"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  Vehicle Condition
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h6>Select vehicle condition:</h6>
                  <div>
                    <input
                      id="mint_condition"
                      value="Mint"
                      type="radio"
                      formControlName="condition"
                      ngDefaultControl
                      (dblclick)="uncheckRadio({ condition: true })"
                      (change)="onFilterChange($event, { condition: true })"
                    />
                    <label for="mint_condition">Mint</label>
                  </div>
                  <div>
                    <input
                      id="excellent_condition"
                      value="Excellent"
                      type="radio"
                      formControlName="condition"
                      ngDefaultControl
                      (dblclick)="uncheckRadio({ condition: true })"
                      (change)="onFilterChange($event, { condition: true })"
                    />
                    <label for="excellent_condition">Excellent</label>
                  </div>
                  <div>
                    <input
                      id="good_condition"
                      value="Good"
                      type="radio"
                      formControlName="condition"
                      ngDefaultControl
                      (dblclick)="uncheckRadio({ condition: true })"
                      (change)="onFilterChange($event, { condition: true })"
                    />
                    <label for="good_condition">Good</label>
                  </div>
                  <div>
                    <input
                      id="fair_condition"
                      value="Fair"
                      type="radio"
                      formControlName="condition"
                      ngDefaultControl
                      (dblclick)="uncheckRadio({ condition: true })"
                      (change)="onFilterChange($event, { condition: true })"
                    />
                    <label for="fair_condition">Fair</label>
                  </div>
                  <div>
                    <input
                      id="maintenance_condition"
                      value="Maintenance"
                      type="radio"
                      formControlName="condition"
                      ngDefaultControl
                      (dblclick)="uncheckRadio({ condition: true })"
                      (change)="onFilterChange($event, { condition: true })"
                    />
                    <label for="maintenance_condition"
                      >Needs repair or maintenance</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Transmission
                </button>
              </h2>
              <div
                id="collapseFive"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <h6>Select transmission type:</h6>
                  <div>
                    <input
                      id="automatic_transmission"
                      value="Automatic"
                      type="radio"
                      formControlName="transmission"
                      ngDefaultControl
                      (dblclick)="uncheckRadio({ transmission: true })"
                      (change)="onFilterChange($event, { transmission: true })"
                    />
                    <label for="automatic_transmision">Automatic</label>
                  </div>
                  <div>
                    <input
                      id="manual_transmission"
                      value="Manual"
                      type="radio"
                      formControlName="transmission"
                      ngDefaultControl
                      (dblclick)="uncheckRadio({ transmission: true })"
                      (change)="onFilterChange($event, { transmission: true })"
                    />
                    <label for="manual_transmision">Manual</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSix"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Dealership
                </button>
              </h2>
              <div
                id="collapseSix"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="d-flex justify-content-center">
                    <app-car-dealership
                      class="col-12"
                      formControlName="dealership"
                      ngDefaultControl
                      (change)="onFilterChange($event, { dealership: true })"
                    ></app-car-dealership>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSeven"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Category
                </button>
              </h2>
              <div
                id="collapseSeven"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="d-flex justify-content-center">
                    <app-car-category
                      class="col-12"
                      formControlName="category"
                      ngDefaultControl
                      (change)="onFilterChange($event, { category: true })"
                    ></app-car-category>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>