<header class="masthead bg-dark py-5">
    <div class="container px-5 py-4">
        <div class="col-sm-6 my-5 justify-content-md-start">
            <h1 class="display-4 fw-bold lh-1 text-white">Cars for sale</h1>
            <p class="lead text-white">If you're thinking of buying the car of your dreams, Donut Motors has thousands of cars for sale in our inventory...</p>
        </div>
    </div>
</header>

<section class="container py-5">
  <div class="align-items-center p-4 my-3 col-4 text-white bg-black title-shadow">
    <h5 class="mb-0 text-center">Find your ideal vehicle</h5>
  </div>
  <div class="p-5 align-items-center justify-content-center bg-warning rounded-3">
    <app-search-bar></app-search-bar>
  </div>
</section>
<section class="container py-5">
  <div class="row g-3">
    <div class="col-md-8">
      <h3 class="pb-1 mb-2 fst-italic border-bottom">
        # results
      </h3>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card text-black bg-warning mb-3 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small>Price</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-black bg-warning mb-3 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small>Price</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-black bg-warning mb-3 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small>Price</small>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card text-black bg-warning mb-3 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <small>Price</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black bg-warning mb-3 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <small>Price</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black bg-warning mb-3 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <small>Price</small>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card text-black bg-warning mb-3 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            </div>
            <small>Price</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-black bg-warning mb-3 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            </div>
            <small>Price</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-black bg-warning mb-3 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            </div>
            <small>Price</small>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card text-black bg-warning mb-3 shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      <div class="card-body">
        <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
          </div>
          <small>Price</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-black bg-warning mb-3 shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      <div class="card-body">
        <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
          </div>
          <small>Price</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-black bg-warning mb-3 shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      <div class="card-body">
        <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
          </div>
          <small>Price</small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card text-black bg-warning mb-3 shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      <div class="card-body">
        <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
          </div>
          <small>Price</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-black bg-warning mb-3 shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      <div class="card-body">
        <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
          </div>
          <small>Price</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-black bg-warning mb-3 shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      <div class="card-body">
        <a routerLink="/" class="stretched-link text-decoration-none"><h5 class="card-title text-black mb-3">Car name</h5></a>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
          </div>
          <small>Price</small>
        </div>
      </div>
    </div>
  </div>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link bg-warning" routerLink="/" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" routerLink="/">1</a></li>
    <li class="page-item"><a class="page-link" routerLink="/">2</a></li>
    <li class="page-item"><a class="page-link" routerLink="/">3</a></li>
    <li class="page-item">
      <a class="page-link bg-warning" routerLink="/" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
    </div>

    <div class="col-md-4">
      <div class="position-sticky nav-filter">
        <div class="p-4 pt-1 mb-0 pb-0">
          <div class="align-items-center p-2 my-4 text-white bg-black title-shadow">
            <h5 class="mb-0 text-center">Sort</h5>
          </div>
          <div class="mb-0">
            <label for="sortSelect" class="form-label">Sort by:</label>
            <select class="form-select" id="sortSelect">
              <option value="1" selected>Name - Asc</option>
              <option value="2">Name - Desc</option>
              <option value="3">Price - Low to High</option>
              <option value="4">Price - High to Low</option>
              <option value="5">Year - Old to New</option>
              <option value="6">Year - New to Old</option>
            </select>
          </div>
        </div>

        <div class="pt-0 p-4">
          <div class="align-items-center p-2 my-4 text-white bg-black title-shadow">
            <h5 class="mb-0 text-center">Filter</h5>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Make and Model
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <app-car-maker></app-car-maker>
                  <app-car-model></app-car-model>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Accordion Item #2
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  Accordion Item #4
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                  Accordion Item #5
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                  Accordion Item #6
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                  Accordion Item #7
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>