<header class="masthead bg-dark py-5">
    <div class="container px-5 py-4">
        <div class="col-md-6 my-5 justify-content-md-start">
            <h1 class="display-4 fw-bold lh-1 text-white">Cars for sale</h1>
            <p class="lead text-white">If you're thinking of buying the car of your dreams, Donut Motors has thousands of cars for sale in our inventory...</p>
        </div>
    </div>
</header>

<section class="container py-5">
  <div class="align-items-center p-4 my-3 col-4 text-white bg-black title-shadow">
    <h5 class="mb-0 text-center">Find your ideal vehicle</h5>
  </div>
  <div class="p-5 align-items-center justify-content-center bg-warning rounded-3">
    <app-search-bar></app-search-bar>
  </div>
</section>
<section class="container py-5">
  <div class="row g-3">
    <div class="col-md-8">
      <h3 class="pb-1 mb-2 fst-italic border-bottom">
        # results
      </h3>

      <div class="row">
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card h-100 bg-warning shadow border-0">
            <a routerLink="/" class="stretched-link text-decoration-none"><svg class="bd-placeholder-img card-img-top" width="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></a>
            <div class="card-body">
              <h5 class="card-title mb-0 text-black">Car name</h5>
              <p class="card-text mb-0 text-black">Relevant information of the car (Year, Mileage, Dealership, Price)</p>
            </div>
          </div>
        </div>
      </div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link bg-warning" routerLink="/" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" routerLink="/">1</a></li>
    <li class="page-item"><a class="page-link" routerLink="/">2</a></li>
    <li class="page-item"><a class="page-link" routerLink="/">3</a></li>
    <li class="page-item">
      <a class="page-link bg-warning" routerLink="/" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
    </div>

    <div class="col-md-4">
      <div class="position-sticky nav-filter">
        <div class="p-4 pt-1 mb-0 pb-0">
          <div class="align-items-center p-2 my-4 text-white bg-black title-shadow">
            <h5 class="mb-0 text-center">Sort</h5>
          </div>
          <div class="mb-0">
            <label for="sortSelect" class="form-label">Sort by:</label>
            <select class="form-select" id="sortSelect">
              <option value="1" selected>Name: Alphabetical Order (A-Z)</option>
              <option value="2">Name: Alphabetical Order (Z-A)</option>
              <option value="3">Price: Low to High</option>
              <option value="4">Price: High to Low.</option>
              <option value="5">Year: Oldest to Newest</option>
              <option value="6">Year: Newest to Oldest</option>
            </select>
          </div>
        </div>

        <div class="pt-0 p-4">
          <div class="align-items-center p-2 my-4 text-white bg-black title-shadow">
            <h5 class="mb-0 text-center">Filter</h5>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Make and Model
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="align-items-center p-2">
                    <h6 class="mb-0">Make</h6>
                  </div>
                  <div class="d-flex justify-content-center">
                    <app-car-maker class="col-12"></app-car-maker>
                  </div>
                  <div class="align-items-center p-2">
                    <h6 class="mb-0">Models</h6>
                    <small class="mb-0">Please select vehicle make above to enable model options.</small>
                  </div>
                  <div class="d-flex justify-content-center">
                    <app-car-model class="col-12"></app-car-model>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Year
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="row g-3">
                    <div class="col-sm-6">
                      <label for="minYears" class="form-label">Min Years</label>
                      <input type="text" class="form-control" id="minYears" placeholder="19xx">
                    </div>
                    <div class="col-sm-6">
                      <label for="maxYears" class="form-label">Max Years</label>
                      <input type="text" class="form-control" id="maxYears" placeholder="20xx">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Price
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h6>Price Range:</h6>
                    <div>
                      <input id="rangeOne" value="rangeOne" type="radio" name="price"/>
                      <label for="rangeOne">Less than $5k</label>
                    </div>
                    <div>
                      <input id="rangeOne" value="rangeOne" type="radio" name="price"/>
                      <label for="rangeOne">Less than $5k</label>
                    </div>
                    <div>
                      <input id="rangeTwo" value="rangeTwo" type="radio" name="price"/>
                      <label for="rangeTwo">$5k to $10k</label>
                    </div>
                    <div>
                      <input id="rangeThree" value="rangeThree" type="radio" name="price"/>
                      <label for="rangeThree">$10k to $20k</label>
                    </div>
                    <div>
                      <input id="rangeFour" value="rangeFour" type="radio" name="price"/>
                      <label for="rangeFour">$20k to $50k</label>
                    </div>
                    <div>
                      <input id="rangeFive" value="rangeFive" type="radio" name="price"/>
                      <label for="rangeFive">$50k or Greater</label>
                    </div>
                  <h6>Custom price range:</h6>
                  <div class="row g-3">
                    <div class="col-sm-6">
                      <label for="minPrice" class="form-label">Min Price</label>
                      <input type="text" class="form-control" id="minPrice" placeholder="$">
                    </div>
                    <div class="col-sm-6">
                      <label for="maxPrice" class="form-label">Max Price</label>
                      <input type="text" class="form-control" id="maxPrice" placeholder="$">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  Vehicle Condition
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h6>Select vehicle condition:</h6>
                    <div>
                      <input id="mint_condition" value="mint" type="radio" name="condition"/>
                      <label for="mint_condition">Mint</label>
                    </div>
                    <div>
                      <input id="excellent_condition" value="excellent" type="radio" name="condition"/>
                      <label for="excellent_condition">Excellent</label>
                    </div>
                    <div>
                      <input id="good_condition" value="good" type="radio" name="condition"/>
                      <label for="good_condition">Good</label>
                    </div>
                    <div>
                      <input id="fair_condition" value="fair" type="radio" name="condition"/>
                      <label for="fair_condition">Fair</label>
                    </div>
                    <div>
                      <input id="maintenance_condition" value="maintenance" type="radio" name="condition"/>
                      <label for="maintenance_condition">Needs repair or maintenance</label>
                    </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                  Transmission
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <h6>Select transmision type:</h6>
                    <div>
                      <input id="automatic_transmision" value="automatic" type="radio" name="transmision"/>
                      <label for="automatic_transmision">Automatic</label>
                    </div>
                    <div>
                      <input id="manual_transmision" value="manual" type="radio" name="transmision"/>
                      <label for="manual_transmision">Manual</label>
                    </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                  Dealership
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h6>Choose dealership:</h6>
                  <div class="d-flex justify-content-center">
                    <app-car-dealership class="col-12"></app-car-dealership>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                  Category
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h6>Select a category:</h6>
                  <div class="d-flex justify-content-center">
                    <app-car-category class="col-12"></app-car-category>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>