<div class="h-100 d-flex align-items-center">
  <div class="container col-xl-10 col-xxl-8 px-4 py-4">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-5 text-center text-lg-start">
        <h3 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Please Login</h3>
        <p class="col-lg-10 fs-4">Your Donut account gives you access to all of Donut Motors car services. Welcome!</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-7">
        <div class="card form-signin w-100 m-auto shadow">
          <form [formGroup]="login_form" class="form-container p-md-5" (ngSubmit)="onSaveForm()">        
            <div class="form-floating">
              <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email" ngDefaultControl />
              <label for="email">Email address</label>
            </div>
            <div
              class="alert alert-danger"
              *ngIf="login_form.get('email')?.hasError('email')"
            >
              Invalid email!
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" ngDefaultControl />
              <label for="password">Password</label>
            </div>
            <div
              class="alert alert-danger"
              *ngIf="login_form.get('password')?.hasError('minlength')"
            >
              The password must be at least 8 characters long
            </div>
            <button class="w-100 btn btn-lg btn-warning btn-font" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
