<div class="h-100 d-flex align-items-center">
    <div class="container col-xl-10 col-xxl-8 px-4">
        <div class="row flex-lg-row-reverse justify-content-center align-items-center">
          <div class="col-10 col-sm-8 col-lg-6">
            <lottie-player autoplay loop mode="normal" src="https://assets5.lottiefiles.com/datafiles/HN7OcWNnoqje6iXIiZdWzKxvLIbfeCGTmvXmEm1h/data.json"></lottie-player>
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Uh Oh! Looks like you got lost.</h1>
            <p class="lead">The page you are looking for has probably moved or expired. Sorry about that!</p>
            <div class="d-grid gap-2 d-md-flex mb-4 justify-content-md-start">
              <button type="button" class="btn btn-warning btn-lg px-4 me-md-2 nav-font" routerLink="/">Go back to homepage</button>
            </div>
          </div>
        </div>
    </div>
</div>
