<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg bg-warning nav-font" aria-label="Offcanvas navbar large">
  <div class="container">
    <!-- logo -->
    <a class="navbar-brand" routerLink="/" routerLinkActive="active-link">
      <img src="/assets/img/shared/Donut_Motors.svg" width="135" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end text-bg-warning" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
      <!-- Menú para pantallas reducidas -->
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-black" id="offcanvasNavbar2Label">Donut Motors</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <!-- Opciones de navegación -->
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link text-black" routerLink="/" routerLinkActive="active-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" routerLink="/cars-for-sale" routerLinkActive="active-link">Cars for Sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" routerLink="/" routerLinkActive="active-link">Sell a Car</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" routerLink="/login" routerLinkActive="active-link">Login</a>
          </li>
          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          -->
        </ul>
      </div>
    </div>
  </div>
</nav>
