<h1>{{ title }}</h1>

<form
  [formGroup]="appointment_booking_form"
  class="form-container"
  (ngSubmit)="onSaveForm()"
>
  <input
    id="first_name"
    placeholder="first name"
    type="text"
    formControlName="first_name"
    ngDefaultControl
  />
  <br />

  <input
    id="last_name"
    type="text"
    placeholder="last name"
    formControlName="last_name"
    ngDefaultControl
  />
  <br />

  <input
    id="email"
    type="email"
    placeholder="email@example.com"
    formControlName="email"
    ngDefaultControl
  />
  <div
    class="alert alert-danger"
    *ngIf="appointment_booking_form.get('email')?.hasError('email')"
  >
    Invalid email!
  </div>
  <br />

  <input
    id="phone"
    type="tel"
    placeholder="phone"
    formControlName="phone_number"
    ngDefaultControl
  />
  <br />

  <app-car-dealership
    formControlName="dealership"
    ngDefaultControl
  ></app-car-dealership>
  <br />

  <ngb-datepicker
    name="calendar"
    class="calendar"
    formControlName="date"
  ></ngb-datepicker>
  <br />

  <app-time formControlName="time" ngDefaultControl></app-time>
  <br />

  <button type="submit" class="btn-send" name="send">Send</button>
</form>
