/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// Elimina las flechas del campo de tipo number:
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Elimina las flechas del campo de tipo number en navegadores Mozilla Firefox:
input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}
